<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skp.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="com.skp.entity.Users">
	<constructor>
	    <idArg column="uid" jdbcType="INTEGER" javaType="java.lang.Integer" />
	    <arg column="mobileNo" jdbcType="VARCHAR" javaType="java.lang.String" />
	    <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
	    <arg column="nickName" jdbcType="VARCHAR" javaType="java.lang.String" />
	    <arg column="photo" jdbcType="VARCHAR" javaType="java.lang.String" />
	    <arg column="sex" jdbcType="TINYINT" javaType="java.lang.Integer"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    uid, mobileNo, password, nickName, photo, sex
  </sql>
  
  <select id="queryOneByUid" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from users_#{tableIndex}
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  
  <select id="queryOneByMobileNo" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from users_#{tableIndex}
    where mobileNo = #{mobileNo,jdbcType=VARCHAR}
  </select>
  
  
   <insert id="insert" parameterType="com.skp.entity.Users">
    insert into users_#{tableIndex}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="mobileNo != null">
        mobileNo,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nickName != null">
        nickName,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="sex != null">
        sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.skp.entity.Users">
    update users_#{tableIndex}
    <set>
      <if test="mobileNo != null">
        mobileNo = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null">
        nickName = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  
  <delete id="delete" parameterType="java.util.Map">
    delete from users_#{tableIndex}
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  
  <update id="updatePwd" parameterType="java.util.Map">
    update users_#{tableIndex}
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
 
</mapper>